
table, th, td {
  border: 2px solid white;
  padding: 20px;

}

#position_select{
position:absolute;
left:50%;
margin-left:-350px;
top:1720px;
width:700px;
}

#info_car{
position:absolute;
left:470px;
top:1150px;
width:200px;
height:500px;
}

#info_car2{
position:absolute;
left:700px;
top:1150px;
width:200px;
height:500px;
}


#logom2{
position:absolute;
left:470px;
top:440px;
width:90px;
height:110px;
}

.contact{
  font-size:60px;
}

#info_carm{
position:absolute;
left:480px;
top:2670px;
width:200px;
height:500px;
}

#info_carm2{
position:absolute;
left:700px;
top:2670px;
width:200px;
height:250px;
}

#logom3{
position:absolute;
left:700px;
top:2940px;
width:200px;
height:250px;
}

#position_selectm{
position:absolute;
left:50%;
margin-left:-350px;
top:3210px;
width:700px;
}

#info_carL{
position:absolute;
left:480px;
top:4210px;
width:200px;
height:500px;
}

#info_car2L{
position:absolute;
left:700px;
top:4210px;
width:200px;
height:500px;
}

#position_selectL{
position:absolute;
left:50%;
margin-left:-350px;
top:4760px;
width:700px;
}

#info_carme2{
position:absolute;
left:700px;
top:2670px;
width:200px;
height:500px;
}





